@charset "utf-8";
/**
    *布局layout l_表示布局公用
**/

/*左右定宽*/
.l_bd .l_mn{
     float: left; width: 760px;
 }
.l_bd .l_sd{
    float: right; width: 210px;
}
/*左侧定宽，右侧自适应*/
.l_bd1 .l_sd1{
    position: relative;  float: left; width: 210px; margin-right: -210px;
}
.l_bd1 .l_mn1{
    float: right; width: 100%;
}
.l_bd1 .l_mn1c{ margin-left: 220px;}
/*左侧自适应，右侧定宽*/
.l_bd2 .l_sd2{
    position: relative;  float: right; width: 210px; margin-left: -210px;
}
.l_bd2 .l_mn2{
    float: left; width: 100%;
}
.l_bd2 .l_mn2c{ margin-right: 220px;}

/*三列中间自适应布局*/
.l_bd3 .l_sd31{
    position: relative;  float: left; width: 210px; margin-right: -210px;
}
.l_bd3 .l_sd32{
    position: relative;  float: right; width: 210px; margin-left: -210px;
}
.l_bd3 .l_mn3{
    float: left; width: 100%;;
}
.l_bd3 .l_mn3c{ margin:0 220px;}

